<div>
<br>

<p> <b><u>SENARAI TEMPAHAN PACKING MENGIKUT PEMAKAI</u> </b> </p>
<br>
<br>
Nama Pemakai : {namaPemakai} <br><br>
Kod Buku : {kodBuku} <br><br>
Kontrak : {kontrak} <br><br>
Jawatan  : {jawatan} <br><br>
No. Telefon  : {notelefon} <br><br>


Senarai Tempahan : <br>
<br>

    <table style="border-collapse: collapse; width: 100%;" border="1">
        <tbody>
            <thead>
                <th>Kod Tempahan</th>
                <th>Jenis Pakaian</th>
                <th>Bilangan</th>
            </thead>
            {listTempahanPackaging}

        </tbody>
        </table>
</div>

<p style="page-break-before: always">

