<div>
<br>

<p> <b><u>DELIVERY ORDER</u> </b> </p>
<br>
<br>
Kod Delivery Order : {no_do} <br><br>
Syarikat : {syarikat} <br><br>
Kontrak : {kontrak} <br><br>


Senarai Tempahan : <br>
<br>

    <table style="border-collapse: collapse; width: 100%;" border="1">
        <tbody>
            <thead>
                <th>Kod Tempahan</th>
                <th>Nama Pemakai</th>
                <th>Jawatan</th>
                <th>No Telefon</th>
                <th>Jenis Pakaian</th>
                <th>Bilangan</th>
            </thead>
            {listTempahanDO}

        </tbody>
        </table>
</div>

<!-- <p style="page-break-before: always"> -->

