<div>
<br>

<p> <b><u>SENARAI TEMPAHAN PRODUCTION MENGIKUT TUKANG</u> </b> </p>
<br>
<br>
Nama Tukang : {namaTukang} <br><br>
Jenis Kerja : {jenisKerja} <br><br>
Tarikh Mula Potong : {tarikhMulaPotong} <br>
<br>

    <table style="border-collapse: collapse; width: 100%;" border="1">
        <tbody>
            <thead>
                <th>Kod Bar</th>
                <th>Kod Tempahan</th>
                <th>Nama Pemakai</th>
                <th>Kod Kontrak</th>
                <th>Kod Design</th>
            </thead>
            {listTempahanProd}

        </tbody>
        </table>
</div>

<p style="page-break-before: always">


{lampiran_sub}

