<div>
    <p> <b><u>LAMPIRAN UKURAN DESIGN</u> </b> </p>
    <br>
    <br>
    Nama Tukang : {nama_tukang}<br>
    Jenis Kerja : {jenis_kerja}<br>
    Kod Kontrak : {kod_kontrak}<br>
    Nama Pemakai : {nama_pemakai}<br>
    Kod Tempahan : {kod_tempahan}<br>
    Bilangan : {bilangan}<br>
    Kod Design : {kod_design}<br>



    <br>
    <img src="{image}"  width="500" height="400"/><br>     

    <br>
    <table border="0" cellpadding="1" cellspacing="1" style="width:750px">
        <tbody>
            <tr>
                <td colspan="5" rowspan="1"><span style="font-size:12px"><u><strong>Ukuran Baju</strong></u></span></td>
                <td colspan="5" rowspan="1"><span style="font-size:12px"><u><strong>Ukuran Seluar</strong></u></span></td>
                <td colspan="3" rowspan="1"><span style="font-size:12px"><u><strong>Ukuran Saiz</strong></u></span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px"><strong>Depan</strong></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px"><strong>Belakang</strong></span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px"><strong>Depan</strong></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px"><strong>Belakang</strong></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Tengkuk Pinggang</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">-</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Labuh Seluar</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
                <td><span style="font-size:12px">21</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Blok Kot/Jaket</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Labuh</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Pinggang</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Saiz Baju</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Bahu</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">-</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Punggung</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Saiz Seluar</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Labuh Lengan</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Peha</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Blok ID</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Dada</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Lutut</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Armhole</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Pinggang</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Buka Kaki</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Lengan</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Punggung</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Cawat</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td><span style="font-size:12px">Kaf</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">21</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px">Leher Baju</span></td>
                <td><span style="font-size:12px">:</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td><span style="font-size:12px">12</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    Nota : {nota}

    
    
</div>

<p style="page-break-before: always"></p>
